@font-face {
    font-family: 'modern_pictogramsnormal';
    src: url('/font/modernpics.eot');
    src: url('/font/modernpics.eot?#iefix') format('embedded-opentype'),
         url('/font/modernpics.woff2') format('woff2'),
         url('/font/modernpics.woff') format('woff'),
         url('/font/modernpics.ttf') format('truetype'),
         url('/font/modernpics.svg#modern_pictogramsnormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

*{
	margin:0;
	padding:0;
	border: 0;
	list-style-type: none;
	font-family: calibri, san-serif;
	text-decoration: none;
}

body{
	background-color: #F2F2F2;
	width: 100%;
	height: 100%;
}

span {
    font-family: 'modern_pictogramsnormal';
}

a>span{
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.5em;
    position: relative;
    top: 0.1em;
    margin-right: 0.1em;
}

.noFloat{
	clear: both;
}

/*HEADER*/
div.header{
	border-top: solid 8px #EA7006;
	background-color: #873188;
	max-width: 100%;
	height: 1.8em;
	padding: 0.5em 1em;
	position: relative;
	z-index: 1000;
}

div.header>a>img{
	max-width: 8em;
}

div.header>a>h1 {
    display: none;
}

div#menuIndex {
	position: absolute;
	z-index: 100000;
	right: 3em;
}

div#menuIndex>div{
    font-family: 'modern_pictogramsnormal';
}

#menuIndex>ul{
	background-color: #F2F2F2;
    min-width: 10em;
}

#menuIndex>ul>li{
	padding: 0.5em 1em;
	text-align: center;
}

#menuIndex>ul>li>a{
	color: #873188;
	text-transform: uppercase;
	font-weight: bold;
}

#menuIndex>ul>li:hover{
	background-color: #E5E5E5;
	font-size: 110%;
}

#menuIndex>ul>li.contacto{
	padding: 0.5em 0.5em 1em 0.5em;
	background-color: #D8D8D8;
}

#menuIndex>ul>li.contacto:hover{
	font-size: 100%;
}

#menuIndex>ul>li.contacto>a{

	color: #EA7006;
}

/*FIN HEADER*/

/*MAIN*/
div.main {
	margin: 0em 1em;
}


div#slider { /* slider */
    margin: 2em 0em;
}

div#slider>ul>li>img {
    width: 100%;
}

div.section>ul { /* secciones- Noticias, Tutoriales y Extras */
	float: left;
	background-color: white;
	padding: 1em;
}

div.section>ul.tutoriales {
    margin: 1em 0em;
}

div.section>ul.extra {
	background: transparent;
	padding: 0;
}

li.video>p{
	color: #4C4C4C;
}

ul.promo, ul.redes, ul.articulo, ul.tutoriales{
    box-shadow: -3px 4px 2px #EFEFEF;
    -webkit-box-shadow: -3px 4px 2px #EFEFEF;
    -moz-box-shadow: -3px 4px 2px #EFEFEF;
}

ul>a:hover { 
    opacity: 0.8;
    display: inline-block;
}

ul.redes, ul.promo { /* secciones- Extras (promociones) */
    background-color: white;
    padding: 1em;
}

ul.promo{
	margin: 1em 0em;
}

ul.redes>li { /* secciones- Extras (redes sociales) */
	display: inline-block;
	max-width: 26%;
}

ul.redes>li.in{
	margin: 0% 8.5%;
}

ul.redes>li>a>img{
	width: 100%;
}

ul.promo>img {
	width: 100%;
}

ul.redes>li:hover {
    opacity: 0.7;
}

li.articulo{ /* secciones- Noticias */
	padding-bottom: 1em;
	border-bottom: solid 1px #873188;
}

li.articulo>div{
	color: #873188;
	margin-top: 1em;
}

li.articulo>h2{
	color: #4C4C4C;
	line-height: 0.8em;
	margin: 0.3em 0em;
}

li.articulo>p{
	font-size: 1.2em;
	color: #4C4C4C;
}

li.video { /* secciones- Tutoriales */
	margin: 1em 0em;
	display: inline-block;
}

li.video>img {
	width: 100%;
}

/*FIN MAIN*/

/*FOOTER*/
div.footer {
	background-color: white;
	margin-top: 2em;
	width: 76%;
	display: inline-block;
	padding: 12%;
}

div.footer>ul {
	color: #656565;
	margin: 1em 0em;
	text-align: center;
}

div.footer>ul>p {
	padding-bottom: 0.5em;
	text-transform: uppercase;
	width: 7em;
	margin: 0 auto;
	border-bottom: solid 1px #656565;
	margin-bottom: 0.5em;
}

div.footer>ul>li{
	padding: 0.1em 0em;
}

div.footer>ul>li>a {
    color: #7F7F7F;
	text-align: left;
}
/*FIN FOOTER*/

/* HISTORIA */

div.section {
    width: 90%;
    margin: 0% 5%;
    color: #4C4C4C;
}

div.fotoLeft {
    max-width: 100%;
}

img.fotoHistoria {
    max-width: 100%;
}

div.info div h2 {
    font-size: 2.3em;
	margin-bottom: 0.1em;
}

div.info div p{
	font-size: 1.2em;
	line-height: 1.1em;
    margin-bottom: 1em;
}

div.items {
    margin-top: 0.5em;
}

div.items ul {
    margin-left: 1.25em;
}

div.items ul li{
	list-style-type: disc;
	font-size: 1.2em;
}

/*Fin HISTORIA*/

/*INSCRIPCIONES*/
h1.titleInscripciones {
    margin-top: 1em;
    color: #4C4C4C;
    font-size: 2.5em;
}

p.aclaracion{
	margin-bottom: 1.5em;
	margin-top: 0.5em;
}

.formularios {
    display: inline-block;
}

.formularios>div{
	background-color: white;
	padding: 1em;
	margin: 0.5em 0em;
}

select {
    border: solid 3px #4C4C4C;
    margin-bottom: 1em;
    width: 100%;
    float: left;
    clear: both;
    font-size: 1.1em;
    font-weight: bold;
    color: #4C4C4C;
}

.curso {
    max-width: 100%;
    min-height: 1.5em;
}

.curso>div{
	display:none;
}

div.curso>div>p {
    color: #873188;
}

div.curso>div>p.primerTexto {
    width: 80%;
    font-size: 1.1em;
    margin: 0.5em 0em;
    display: inline-block;
	color: #4C4C4C;
}

div.curso>div>h2 {
    font-size: 2.5em;
    color: #EA7006;
    margin-top: 0.5em;
}

.datos>form>label{
    clear: both;
    max-width: 100%;
    display: block;
}

.datos>form>input{
    float: left;
    margin-bottom: 0.8em;
    border: solid 3px #4C4C4C;
    width: 98%;
}

.checkDiv {
    margin: 1em 0em;
    display: inline-block;
    width: 100%;
}

.divBotones {
    height: 2.2em;
	margin-top: 0.7em;
}

.divBotones>input {
    padding: 0.5em 1em;
    border: 2px solid #873188;
    width: 48%;
    float: left;
    text-transform: uppercase;
    cursor: pointer;
}

.divBotones>input[type="button"] {
    background-color: #873188;
    color: white;
    margin-right: 4%
}

.divBotones>input[type="reset"] {
    background-color: transparent;
    color: #873188;
}

input#tarjetaCreditoInput {
    border: solid 3px #4C4C4C;
	width: 70%;
}

p#efectivo {
    margin-top: 0.5em;
}

.medioDePago>label{
	float:left;
	clear:both;
	display:none;
}

.medioDePago>input{
	display:none;
}

.medioDePago>p{
	display:none;
}
/*FIN INSCRIPCIONES*/


/*Responsive*/
@media screen and (min-width: 30em) {
div.header{
	padding: 0.5em 3em;
}

div.main {
	margin: 0em 3em;
}

li.video>img {
	width: 50%;
}

li.video>p {
	max-width: 45%;
	display: inline-block;
	float: right;
}

div.footer {
    width: 90%;
    padding: 5%;
}

div.footer>ul {
	width: 50%;
	float: left;
}
}

@media screen and (min-width: 55em) {
div.header>a>h1{
	color: #F2F2F2;
	font-size: 1.2em;
	display: inline-block;
	margin-left: 0.5em;
	text-transform: uppercase;;
}

div.section>ul {
    max-width: 30%;
}

div.section>ul.tutoriales {
    margin: 0em 0.8%;
}

div.footer {
    width: 95%;
    padding: 2.5%;
}

/*INSCRIPCIONES*/
p.aclaracion{
	width: 70%;
}

.formularios>div {
    width: 27%;
    float: left;
    margin: 0 1%;
}
/*Fin INSCRIPCIONES*/
}

@media screen and (min-width: 65em) {
/*HISTORIA*/
div.fotoLeft {
    width: 45%;
	display: inline-block;
}

img.fotoHistoria {
    width: 95%;
}

div.info {
    float: right;
    width: 55%;
}

div.items ul{
	width: 46%;
	float: left;
	margin-left: 4%;
}
/*Fin HISTORIA*/
}

@media screen and (min-width: 75em) {
div.section>ul.tutoriales {
    margin: 0em 2%;
}
}


/*SLIDER*/
div#slider {
    width: 90%;
    overflow: hidden;
    margin: 1em auto;
}

div#slider>ul {
    display: flex;
    width: 400%;
	
	animation: cambio 20s infinite alternate;
}

div#slider>ul li {
    width: 100%;
}

@keyframes cambio{
	0%{margin-left: 0;}
	20%{margin-left: 0;}
	
	25%{margin-left: -100%;}
	45%{margin-left: -100%;}

	50%{margin-left: -200%;}
	70%{margin-left: -200%;}

	75%{margin-left: -300%;}
	100%{margin-left: -300%;}
}
/*FIN SLIDER*/