@font-face {
    font-family: 'modern_pictogramsnormal';
    src: url('D://www/tpWeb/font/modernpics.eot');
    src: url('D://www/tpWeb/font/modernpics.eot?#iefix') format('embedded-opentype'),
         url('D://www/tpWeb/font/modernpics.woff2') format('woff2'),
         url('D://www/tpWeb/font/modernpics.woff') format('woff'),
         url('D://www/tpWeb/font/modernpics.ttf') format('truetype'),
         url('D://www/tpWeb/font/modernpics.svg#modern_pictogramsnormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

*{
	margin:0;
	padding:0;
	border: 0;
	list-style-type: none;
	font-family: calibri, san-serif;
	text-decoration: none;
}

body{
	background-color: #F2F2F2;
	width: 100%;
	height: 100%;
}

span {
    font-family: 'modern_pictogramsnormal';
}

h2{
    color: grey;
}

h3{
	color: #873188;
}

.in {
    padding: 0% 5%;
    box-sizing: border-box;
}

a>span{
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.5em;
    position: relative;
    top: 0.1em;
    margin-right: 0.1em;
}

.noFloat{
	clear: both;
}

/*HEADER*/
div.header{
	border-top: solid 8px #EA7006;
	background-color: #873188;
	max-width: 100%;
	height: 2.5em;
	padding: 0.5em 1em;
	position: relative;
	z-index: 1000;
    margin-bottom: 3%;
}

div.header>a {
    display: inline-block;
    position: relative;
    top: 0.4em;
}

div.header>a>img{
	max-width: 8em;
}

div.header>a>h1 {
    display: none;
}

div#menuIndex {
	position: absolute;
	z-index: 100000;
	right: 3em;
    top: 0em;
}

#menuIndex>li.muestra {
    font-family: 'modern_pictogramsnormal';
    color: #EA7006;
    cursor: pointer;
    font-size: 3.5em !important;
    padding: 0 !important;
    top: -.25em;
    position: relative;
    text-align: center;
}

#menuIndex>ul{
    background-color: #F2F2F2;
    min-width: 10em;
    position: relative;
}

#menuIndex>ul>li{
	padding: 0.5em 1em;
	text-align: center;
}

#menuIndex>ul>li>a{
	color: #873188;
	text-transform: uppercase;
	font-weight: bold;
}

#menuIndex>ul>li:hover{
	background-color: #E5E5E5;
	font-size: 110%;
}

#menuIndex>ul>li.contacto{
	padding: 0.5em 0.5em 1em 0.5em;
	background-color: #D8D8D8;
}

#menuIndex>ul>li.contacto:hover{
	font-size: 100%;
}

#menuIndex>ul>li.contacto>a{

	color: #EA7006;
}

/*FIN HEADER*/

/*MAIN*/
div.main {
	margin: 0em 1em;
    margin-bottom: 3em;
}


div#slider { /* slider */
    margin: 2em 0em;
}

div#slider>ul>li>img {
    width: 100%;
}

div.section>ul { /* secciones- Noticias, Tutoriales y Extras */
	background-color: white;
	padding: 1em;
    height: 100%;
}

div.section>ul.tutoriales {
    margin: 1em 0em;
}

div.section>ul.extra {
	background: transparent;
	padding: 0;
}

li.video>p{
	color: #4C4C4C;
}

ul.promo, ul.redes, ul.articulo, ul.tutoriales{
    box-shadow: -3px 4px 2px #EFEFEF;
    -webkit-box-shadow: -3px 4px 2px #EFEFEF;
    -moz-box-shadow: -3px 4px 2px #EFEFEF;
}

ul.tutoriales>a {
    display: flex;
}

ul>a:hover { 
    opacity: 0.8;
    display: inline-block;
}

ul.redes, ul.promo { /* secciones- Extras (promociones) */
    background-color: white;
    padding: 1em;
}

ul.redes {
    display: flex;
}

ul.promo{
	margin: 1em 0em;
}

ul.redes>li { /* secciones- Extras (redes sociales) */
	box-sizing: border-box;
    padding: 0em .5em;
}

ul.redes>li.in{
	margin: 0% 8.5%;
}

ul.redes>li>a>img{
	width: 100%;
}

ul.promo>img {
	width: 100%;
}

ul.redes>li:hover {
    opacity: 0.7;
}

li.articulo{ /* secciones- Noticias */
	padding-bottom: 1em;
	border-bottom: solid 1px #873188;
}

li.articulo>div{
	color: #873188;
	margin-top: 1em;
}

li.articulo>h2{
	color: #4C4C4C;
	line-height: 0.8em;
	margin: 0.3em 0em;
}

li.articulo>p{
	font-size: 1.2em;
	color: #4C4C4C;
}

li.video { /* secciones- Tutoriales */
	margin: 1em 0em;
	display: inline-block;
}

li.video>img {
	width: 100%;
}

/*FIN MAIN*/

/*FOOTER*/

.footer {
    background-color: #ECECEC;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    padding: 3em;
    color: #B1B1B1;
}

.footer ul {
    width: 50%;
    padding: .5em;
}

.footer ul li {
    padding-left: 2em;
    margin: .5em 0em;
}

.footer ul li a {
    color: #B1B1B1;
}


/*FIN FOOTER*/

/* HISTORIA */

div.section {
    width: 100%;
    /*margin: 0% 5%;*/
    color: #4C4C4C;
    margin-bottom: 3em;
}

div.fotoLeft {
    max-width: 100%;
}

div.fotoLeft>h2 {
    margin-bottom: .5em;
}

img.fotoHistoria {
    max-width: 100%;
}

div.info div h2 {
    font-size: 2.3em;
	margin-bottom: 0.1em;
}

div.info div p{
	font-size: 1.2em;
	line-height: 1.1em;
    margin-bottom: 1em;
}

div.items {
    margin-top: 0.5em;
}

div.items ul {
    margin-left: 1.25em;
}

div.items ul li{
	list-style-type: disc;
	font-size: 1.2em;
	padding: .2em 0;
}

/*Fin HISTORIA*/

/*INSCRIPCIONES*/
div.tit-inscripcion {
    width: 90%;
    margin: 0% 5%;
}

h1.titleInscripciones {
    color: #4C4C4C;
    font-size: 2.5em;
}

p.aclaracion{
	margin-bottom: 1.5em;
	margin-top: 0.5em;
}

.formularios {
    display: inline-block;
}

.formularios>div{
	background-color: white;
	padding: 1em;
	margin: 0.5em 0em;
}

select {
    border: solid 3px #4C4C4C;
    margin-bottom: 1em;
    width: 100%;
    float: left;
    clear: both;
    font-size: 1.1em;
    font-weight: bold;
    color: #4C4C4C;
}

.curso {
    max-width: 100%;
    min-height: 1.5em;
}

.curso>div{
	display:none;
}

div.curso>div>p {
    color: #873188;
}

div.curso>div>p.primerTexto {
    width: 80%;
    font-size: 1.1em;
    margin: 0.5em 0em;
    display: inline-block;
	color: #4C4C4C;
}

div.curso>div>h2 {
    font-size: 2.5em;
    color: #EA7006;
    margin-top: 0.5em;
}

.datos>form>label{
    clear: both;
    max-width: 100%;
    display: block;
}

.datos>form>input{
    float: left;
    margin-bottom: 0.8em;
    border: solid 3px #4C4C4C;
    width: 98%;
}

.checkDiv {
    margin: 1em 0em;
    display: inline-block;
    width: 100%;
}

.divBotones {
    height: 2.2em;
	margin-top: 0.7em;
}

.divBotones>input {
    padding: 0.5em 1em;
    border: 2px solid #873188;
    width: 48%;
    float: left;
    text-transform: uppercase;
    cursor: pointer;
}

.divBotones>input[type="button"] {
    background-color: #873188;
    color: white;
    margin-right: 4%
}

.divBotones>input[type="reset"] {
    background-color: transparent;
    color: #873188;
}

input#tarjetaCreditoInput {
    border: solid 3px #4C4C4C;
	width: 70%;
}

p#efectivo {
    margin-top: 0.5em;
}

.medioDePago>label{
	float:left;
	clear:both;
	display:none;
}

.medioDePago>input{
	display:none;
}

.medioDePago>p{
	display:none;
}
/*FIN INSCRIPCIONES*/

/*CURSOS*/
ul.noticias h2 {
	margin-bottom: 0.5em;
}

div.explicacion p {
    line-height: 1.5;
}
/*FIN CURSOS*/

/*CONTACTO*/
div.mapa-sede-principal div, div.contacto-sedes div {
    width: 100%;
}

div.map-central {
    height: 31em;
    position: relative;
}

div.mapa-sede-principal h2 {
    margin-bottom: 1em;
}

div.info h2 {
    margin-bottom: .2em;
    font-size: 2em;
}

div.info-central {
    font-size: 130%;
}

.sedes {
    background: white;
    padding: 1.5em;
    box-sizing: border-box;
}

div.info h3 {
    margin-top: 1em;
    background: #EA7006;
    color: white;
    padding: 3%;
    width: 94%;
}

div.datos-subsedes h4 {
    font-size: 1.4em;
    margin-bottom: 0.5em;
}

div.datos-subsedes>div {
    font-size: 120%;
}

div.map-subsede {
    margin-top: 1em;
}

div i {
    padding-top: .5em;
    display: inline-block;
}

/*map-area*/
div.map-central input[type="button"] {
    position: absolute;
    background: url("/img/mapa/map-17.png") no-repeat center;
    width: 3em;
    height: 3em;
    border-radius: 100%;
    cursor: pointer;
}

.central {
    right: 8em;
    top: 4em;
    background-color: transparent !important;
    background: url("/img/mapa/map.png") center no-repeat !important;
    width: 4em !important;
    height: 8em !important;
}

.palermo{
	right: 4em;
	top: 14em;
}

.avellaneda{
    right: 11em;
    top: 17em;
}

.recoleta{
    right: 25em;
    top: 12em;
}

.moron{
    left: 5em;
    top: 19em;
}

/*FIN CONTACTO*/


/*Responsive*/
@media screen and (min-width: 30em) {
div.header{
	padding: 0.5em 3em;
}

div.main {
    margin-bottom: 3em;
}

li.video>img {
	width: 50%;
}

li.video>p {
	max-width: 45%;
	display: inline-block;
	float: right;
}
}

@media screen and (min-width: 55em) {
div.header>a>h1{
	color: #F2F2F2;
	font-size: 1.2em;
	display: inline-block;
	margin-left: 0.5em;
	text-transform: uppercase;;
}

div.section {
	display: flex;
}

div.section>ul {
    width: 33%;
}

div.section>ul.tutoriales {
    margin: 0em 1.5%;
}

ul>a:hover {
    display: block;
}

/*INSCRIPCIONES*/
p.aclaracion{
	width: 70%;
}

.formularios>div {
    width: 33%;
    margin: 0 1%;
}
/*Fin INSCRIPCIONES*/

/*CURSOS*/
div.explicacion {
    display: flex;
}

div.explicacion p {
    max-width: 90%;
}
/*FIN CURSOS*/

/*CONTACTO*/
div.section>div {
	width: 50%;
	margin: 0em 1em;
}

div.info div {
    margin-top: 2em;
}
/*FIN CONTACTO*/

/*FOOTER*/
.footer {
    padding: 2em 10em;
 }
/*FIN FOOTER*/
}

@media screen and (min-width: 65em) {
/*HISTORIA*/

div.items ul{
	width: 46%;
	float: left;
	margin-left: 4%;
}
/*Fin HISTORIA*/
}


/*SLIDER*/
div#slider {
    /*width: 90%;*/
    overflow: hidden;
    margin: 1em auto;
}

div#slider>ul {
    display: flex;
    width: 400%;
	
	animation: cambio 20s infinite alternate;
}

div#slider>ul li {
    width: 100%;
}

@keyframes cambio{
	0%{margin-left: 0;}
	20%{margin-left: 0;}
	
	25%{margin-left: -100%;}
	45%{margin-left: -100%;}

	50%{margin-left: -200%;}
	70%{margin-left: -200%;}

	75%{margin-left: -300%;}
	100%{margin-left: -300%;}
}
/*FIN SLIDER*/